<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Bff" stopProcessing="true">
          <match url="^bff/(.*)" />
          <action type="Rewrite" url="https://localhost:446/{R:1}" />
        </rule>
        <rule name="DynamicContent">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:3002/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <iisnode watchedFiles="web.config;server.js" />
  </system.webServer>
</configuration> 