name: Deploy Next.js to IIS

on:
  push:
    branches:
      - master

jobs:
  deploy: 
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js application
        run: npm run build

      - name: Prepare standalone folder
        shell: powershell
        run: |
          Remove-Item -Recurse -Force "standalone" -ErrorAction SilentlyContinue
          Copy-Item ".next\standalone" ".\standalone" -Recurse -Force
          New-Item -ItemType Directory -Force -Path ".\standalone\.next" | Out-Null
          Copy-Item ".next\static" "standalone\.next\" -Recurse -Force
          Copy-Item "public" "standalone\public" -Recurse -Force

      - name: Deploy to IIS Directory
        shell: powershell
        run: |
          $target = "C:\inetpub\wwwroot\online-ticket-sales"
          if( Test-Path $target ) {
              New-Item -ItemType Directory -Path $target | Out-Null
          }
          Copy-Item "standalone" $target -Recurse -Force
          Copy-Item "ecosystem.config.js" $target -Force
          Copy-Item "web.config" $target -Force

      - name: Restart Application Pool
        shell: powershell
        run: |
          cd C:\inetpub\wwwroot\online-ticket-sales
          pm2 start ecosystem.config.js --only online-ticket-sales --update-env
          pm2 save